* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjusst: 100%;
    -moz-text-size-adjusst: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-innesr {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}

.table-container {
    border-radius: 12px;
    border: 1px solid #E5E9EB;
    background: #FFF;
    padding: 16px;
}

.table {
    border-radius: 12px;
    border: 1px solid #E5E9EB;
    margin-bottom: 12px;
    overflow: auto;
    min-height: 400px;
}

thead th,
tbody td {
    text-align: center;
    white-space: nowrap;
    padding: 12px;
}

tbody td {
    color: #303940;
    line-height: 18px;
    letter-spacing: -0.084px;
}


tbody td:not(:last-child) {
    border-right: 1px solid #E5E9EB;
}

tbody tr {
    text-align: center;
    white-space: nowrap;
    padding: 10px;
}

tbody tr:last-child td {
    border-bottom: 1px solid #F4F6FA;
}

tbody tr:nth-child(even) {
    background: #F4F6FA;
}


thead tr,
thead th {
    width: 100%;
    border-top: none;
    border-bottom: none !important;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: .1rem;
    box-shadow: -1px -1px 0px 0px #E5E9EB inset;
}

thead th div {
    display: flex;
    align-items: center;
    gap: 4px;
}

thead th:first-child {
    width: auto;

}

thead th:not(:first-child) {
    width: 20%;

}

.table-container .button {
    border-radius: 6px;
    background: #F43F5E;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    color: white;
    align-items: center;
}

.table-container .button:disabled {
    border: #303940;
    border-radius: 2px;
    color: #E5E9EB;
    background: #f43f5db0;
    min-height: 20px;
    padding: 0 8px;
    margin-right: 4px;
    cursor: not-allowed;
}

input {
    border: 1px solid #303940;
    padding: 2px;
    border-radius: 4px;
}

select {
    border-radius: 6px;
    border: 1px solid #F43F5E;
    background: #FFF;
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
    color: #F43F5E;
}

button.step {
    border-radius: 6px;
    border: 1px solid #F43F5E;
    color: #F43F5E;
    background: white;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

button.step.active {
    border-radius: 6px;
    border: none;
    color: white;
    background: #F43F5E;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.navigator:hover {
    box-shadow: 0 0 1px #303940;
}

.navigator {
    border-radius: 6px;
    border: 1px solid #F43F5E;
    background: white;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.navigator:hover {
    box-shadow: 0 0 1px #303940;
}

.navigator:disabled {
    border-radius: 6px;
    color: #E5E9EB;
    cursor: not-allowed;
    opacity: 0.4;

}